*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-body {
    background-color: rgb(37, 150, 190);
}

.background-container {
    background-color: rgb(255, 166, 0);
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
}

.font-weight {
    font-weight: bold;
}